/* ========== MAIN SECTION ========== */

%arrow{
	@include arrow(20px, 20px, -135deg, 2px, solid, #CCCCCC, -10px, 0, 0, -50px)
}

.section{
	text-align: center;
	&__title{
		@include font-family($kaushan, 2.4rem, #333333, 2.4rem, 400);
		margin-bottom: 20px;
		padding-top: 90px;
		position: relative;
	}
	&__subtitle{
		@include font-family($montserrat, 3.0rem, #333333, 3.0rem, 700);
		text-transform: uppercase;
		position: relative;
		&:after{
			content: "";
    		display: block;
    		width: 60px;
    		height: 3px;
    		background-color: #f38181;
    		margin-top: 40px;
    		margin-bottom: 40px;
    		position: relative;
    		transform: translateX(-50%);
    		left: 50%;
		}
	}
	&__description{
		@include font-family($roboto, 1.5rem, #999999, 2.4rem, 400);
		margin-bottom: 80px;
		padding: 0 10%; // 120px = 1200px (wrapper) * 10%
	}
	&__arrow{
		&-up{
			&:after{
				@extend %arrow;
				transform: rotate(45deg);
			}
		}
		&-right{
			&:after{
				@extend %arrow;
				transform: rotate(135deg);
			}
		}
		&-down{
			&:after{
				@extend %arrow;
				transform: rotate(-135deg);
			}
		}
		&-left{
			&:after{
				@extend %arrow;
				transform: rotate(-45deg);
			}
		}
	}
}

.about{
	padding-bottom: 110px;
	&__list{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item{
		@include font-family($montserrat, 1.8rem, #FFFFFF, 1.8rem, 700);
		position: relative;
	    width: 380px;
	    background: linear-gradient(to bottom, #e88182 0%,#f0d98d 100%);
	    transition: all 0.2s linear;
	    &:hover{
	    	transform: translateX(-10px) translateY(-10px);
    		box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
	    }
	    &:hover .about__picture {
	    	opacity: 0.2;
	    }
	    &:hover .about__picture-description {
	    	opacity: 1;
	    }
	}
	&__picture{
		opacity: 1;
		display: block;
		width: 100%;
		height: auto;
		transition: .5s ease;
		backface-visibility: hidden;
		&-description{
			text-transform: uppercase;
			transition: .5s ease;
			opacity: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.counter{
	background-color: #95e1d3;
	padding: 80px 0;
	& .wrapper{	
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	&__number, &__caption{
		display: block;
	}
	&__number{
		@include font-family($montserrat, 7.2rem, #FFFFFF, 7.2rem, 700);
		padding-bottom: 20px;
	}
	&__caption{
		@include font-family($montserrat, 1.4rem, #FFFFFF, 1.4rem, 400);
		text-transform: uppercase;
	}
}

.work{
	&__list{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		text-align: left;
		padding: 20px 0 100px 0;
	}
	&__item{
		display: flex;
		align-items: flex-start;
		flex-basis: 33%;
		&-wrapper{
			flex: 1;
		}
	}
	&__heading{
		@include font-family($montserrat, 1.4rem, #333333, 1.4rem, 400);
		text-transform: uppercase;
		margin-bottom: 16px;
	}
	&__icon{
		margin: 0 25px;
	}
	&__description{
		@include font-family($roboto, 1.5rem, #999999, 2.4rem, 400);
	}
	&__line{
		flex-basis: 100%;
		height: 1px;
		background-color: #e5e5e5;
		margin: 50px 0;
	}
}

.design{
	background-image: url("../images/banner-1.png");
	background-size: cover;
	position: relative;
	&:before{
		content: ' ';
		background-color: #FFFFFF;
	    display: block;
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    opacity: 0.8;
	}
	&__images{
	position: relative;

	}
	&__tablet{
		max-width: 560px;
	}
	&__iphone{
		max-width: 262px;
		position: absolute;
		bottom: -90px;
		left: 57%;
	}
}

.service{
	padding-bottom: 120px;
	&__main{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	&__photo{
		flex-basis: 50%;
		padding-right: 30px;
	}
	&__list{
		flex-basis: 50%;
	}
	&__item{
		&-heading{
			display: flex;
			flex-direction: row;
			flex-wrap: no-wrap;
			align-items: center;
			@include font-family($montserrat, 1.4rem, #333333, 1.4rem, 400);
			text-transform: uppercase;
			cursor: pointer;
			border: 2px solid #e5e5e5;
			margin-top: 10px;
			&:first-child{
				margin-top: 0;
			}
		}
		&-description{
			height: 130px;
			@include font-family($roboto, 1.5rem, #999999, 2.4rem, 300i);
			font-style: italic;
			margin: 20px;
			display: none;
			text-align: left;
			overflow: auto;
		}
		&-show{
			margin-left: auto;
		}
	}
	&__icon{
		margin: 14px;
	}
}

.testimonial{
	background-color: #f8f8f8;
	@include font-family($roboto, 1.5rem, #999999, 2.4rem, 300i);
			font-style: italic;
	& .wrapper{
		overflow: hidden;
		padding: 70px 110px;
		position: relative;
	}
	&-person{
		background-color: #FFFFFF;
		& .wrapper{
			padding: 0 110px 130px 110px;
		}
	}
	&__quote{
		display: flex;
		text-align: left;
	}
	&__author{
		@include font-family($kaushan, 2.4rem, #333333, 2.4rem, 400);
		margin-top: 20px;
		&:before{
			content: "";
    		display: inline-block;
    		width: 60px;
    		height: 3px;
    		background-color: #f38181;
    		margin-right: 10px;
    		position: relative;
    		transform: translateY(-200%);
		}
	}
	&__icon{
		padding: 30px;
		border: 3px solid #95e1d3;
		margin-right: 60px;
		box-sizing: initial;
	}
	&__photo{
		margin-right: 30px;
	}
	&-left, &-right{
		position: absolute;
		top: 50%;
	}
	&-left{
		left: 80px;
	}
	&-right{
		right: 0px;
	}
}

.team{
	padding-bottom: 90px;
	&__list{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	&__person{
		position: relative;
	    width: 380px;
	    background: linear-gradient(to bottom, #e88182 0%,#f0d98d 100%);
	    transition: all 0.2s linear;
	    &:hover{
	    	transform: translateX(-10px) translateY(-10px);
    		box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
	    }
	    &:hover .person__photo {
	    	opacity: 0.2;
	    }
	    &:hover .person__social-link {
	    	opacity: 1;
	    }
	}
}

.person{
	&__photo{
		opacity: 1;
		display: block;
		width: 100%;
		height: auto;
		transition: .5s ease;
		backface-visibility: hidden;
	}
	&__social-link{
		display: flex;
		text-transform: uppercase;
		transition: .5s ease;
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		& .fa{
			width: 55px;
			height: 55px;
			font-size: 30px;
			color: #f38181;
			background-color: #fce38a;
			padding: 15px;
			border-left: 1px solid #f38181;
	    	transition: all 0.2s linear;
			&-facebook{
				border-left: 0;
			}
			&:hover{
				color: #ffffff;
				background-color: #f38181;
			}
		}
	}
	&__name{
		@include font-family($montserrat, 1.4rem, #333333, 1.4rem, 400);
		margin-top: 30px;
		margin-bottom: 10px;
	}
	&__profession{
		@include font-family($roboto, 1.5rem, #999999, 2.4rem, 300i);
		margin-bottom: 20px;
	}
}

.logos{
	background-color: #f8f8f8;
	padding: 60px 0;
}

.wedo{
	&__list{
		display: flex;
	}
	&__tile{
		position: relative;
	    background: linear-gradient(to bottom, #e88182 0%,#f0d98d 100%);
	    transition: all 0.2s linear;
	    &:hover .wedo__photo {
	    	opacity: 0.2;
	    }
	    &:hover .wedo__photo-description {
	    	opacity: 1;
	    }
	}
	&__item{
		display: flex;
  		flex-direction: column;
		flex-basis: 25%;
		position: relative;
	    background: linear-gradient(to bottom, #e88182 0%,#f0d98d 100%);
	    transition: all 0.2s linear;
	}
	&__photo{
		display: block;
		width: 100%;
		height: auto;
		flex: 1;
		opacity: 1;
		transition: .5s ease;
		backface-visibility: hidden;
		&-description{
			text-align: center;
			display: flex;
			flex-direction: column;
			text-transform: uppercase;
			transition: .5s ease;
			opacity: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__title{
		@include font-family($montserrat, 1.4rem, #FFFFFF, 1.4rem, 400);
		margin-top: 20px;
		margin-bottom: 10px;
	}
	&__description{
		@include font-family($roboto, 1.5rem, #FFFFFF, 2.4rem, 300i);
		font-style: italic;
	}
}

.clients{
	background-image: url("../images/client-bg.png");
	background-size: cover;
	position: relative;
	padding-bottom: 90px;
	&:before{
		content: ' ';
		background-color: #FFFFFF;
	    display: block;
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    opacity: 0.8;
	}
	&__list{
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	&__item{
		padding: 40px;
		flex-basis: 50%;
		display: flex;
		align-items: flex-start;
		flex-wrap: no-wrap;
	}
	&__photo{
		margin-right: 30px;
	}
	&__description{
		flex: 1;
		text-align: left;
	}
	&__name{
		@include font-family($montserrat, 1.4rem, #333333, 1.4rem, 400);
	}
	&__profession{
		@include font-family($roboto, 1.5rem, #333333, 2.4rem, 300i);
		font-style: italic;
		position: relative;
		&:after{
			content: "";
    		display: block;
    		width: 60px;
    		height: 3px;
    		background-color: #f38181;
    		position: absolute;
    		top: 40px;
    		left: 0;
    		transform: translateY(-200%);
		}
	}
	&__opinion{
		@include font-family($roboto, 1.5rem, #999999, 2.4rem, 300i);
		margin-top: 40px;
	}
}

.blog{
	&__list{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-bottom: 100px;
	}
	&__post{
		flex-basis: 30%;
		text-align: left;
		position: relative;
	}
}
.post{
	&__title{
		@include font-family($montserrat, 1.4rem, #333333, 1.4rem, 400);
		margin-top: 15px;

	}
	&__description{
		@include font-family($roboto, 1.5rem, #999999, 2.4rem, 300i);
		margin-top: 15px;
		padding-bottom: 20px;
		border-bottom: 2px solid #e5e5e5;
		margin-bottom: 20px;

	}
	&__date{
		padding: 15px;
		background: #95e1d3; 
		position: absolute;
		top: 160px;
		left: -10px;
	}
	&__readers-number, &__comment-number{
		@include font-family($roboto, 1.5rem, #999999, 1.5rem, 300i);
		font-style: italic;
		margin-right: 20px;
	}
	&__readers-icon{
		margin-right: 5px;
	}
}

.date{
	&__day, &__month{
		display: block;
		text-align: center;
	}
	&__day{
		@include font-family($roboto, 3rem, #FFFFFF, 2.4rem, 300i);
		font-weight: bold;
	}
	&__month{
		@include font-family($roboto, 1.5rem, #FFFFFF, 1.5rem, 300i);
		font-style: italic;

	}
}

.map{
	background-image: url("../images/map-bg.png");
	background-size: cover;
	position: relative;
	@include font-family($montserrat, 2.4rem, #f38181, 2.4rem, 700);
	padding: 55px 0;
	&:before{
		content: ' ';
		background-color: #FFFFFF;
	    display: block;
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    opacity: 0.8;
	}
	&__open{
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
  		justify-content: center;
	}
	&__heading{
		margin-top: 15px;
		text-transform: uppercase;
		&:after{
			content: "";
    		display: block;
    		width: 60px;
    		height: 3px;
    		background-color: #f38181;
    		position: relative;
    		left: 50%;
  			margin-left: -30px;
  			margin-top: 20px;
		}
  		&:hover{
  			cursor: pointer;
  		}
	}

}