/* ========== FOOTER SECTION ========== */
.footer{
	padding-top: 75px;
	background: #f8f8f8;
	& .wrapper{
		display: flex;
		justify-content:space-between;
		flex-wrap: wrap;
	}
	&__about-min{
		flex-basis: 470px;
		& .fa{
			font-size: 1.5rem;
			color: #95e1d3;
			margin: 7px;
		}
	}
	&__logo{
		@include font-family($montserrat, 4.6rem, #cccccc, 4.6rem, 700);
		font-weight: bold;
		margin-bottom: 40px;
	}
	&__form{
		margin-top: 35px;
		display: flex;
		&-email{
			width: 200px;
			@include font-family($roboto, 1.5rem, #999999, 2.4rem, 300i);
			font-style: italic;
			padding: 8px 14px;
			border: 1px solid #e7e7e7;
		}
		&-submit{
			@include font-family($montserrat, 1.4rem, #FFFFFF, 1.4rem, 400);
			font-weight: bold;
			text-transform: uppercase;
			background-color: #95e1d3;
			border: 0;
			padding: 15px 35px;
			cursor: pointer;
		}
	}
	&__column{
		flex-basis: 380px;
	}
	&__instagram{
		flex-basis: 270px;
	}
	&__page-info{
		flex-basis: 100%;
	}
	&__instagram-heading{
		@include font-family($montserrat, 1.4rem, #333333, 1.4rem, 400);
		text-transform: uppercase;
		margin-bottom: 40px;
	}
	&__page-info{
		text-align: center;
		margin-top: 70px;
		border-top: 2px solid #e5e5e5;
	}
}
.about-min{
	&__description{
		@include font-family($roboto, 1.5rem, #999999, 2.4rem, 300i);
		margin-bottom: 50px;
	}
}
.social-links{
	&__title{
		@include font-family($montserrat, 1.8rem, #333333, 1.8rem, 700);
		font-weight: normal;
		padding-bottom: 17px;
		border-bottom: 2px solid #e5e5e5;
		margin-bottom: 20px;
	}
	&__subtitle{
		font-weight: bold;
	}
	&__follow{
		@include font-family($roboto, 1.5rem, #999999, 2.4rem, 300i);
		font-style: italic;
		display: inline-block;
		margin-right: 12px;
	}
}

.blog-min{
	&-heading{
		@include font-family($montserrat, 1.4rem, #333333, 1.4rem, 400);
		text-transform: uppercase;
		margin-bottom: 40px;
	}
	&__post{
		display: flex;
		margin-bottom: 30px;
		&-description{
			padding: 20px;
			flex: 1;
		}
	}
	&__title{
		@include font-family($montserrat, 1.2rem, #333333, 1.8rem, 400);
		text-transform: uppercase;
	}
	&__time{
		@include font-family($roboto, 1.3rem, #999999, 2.4rem, 300i);
		font-style: italic;
	}
}

.instagram{
	&__photos{
		margin-bottom: 20px;
	}
	&__link{
		@include font-family($roboto, 1.4rem, #333333, 1.4rem, 300i);
		font-style: italic;
		margin-top: 20px;
		text-decoration: none;
	}
}

.page-info{
	&__copy{
		@include font-family($montserrat, 1.4rem, #333333, 1.4rem, 400);
		margin: 25px 0;
		&-pink{
			color: #f38181;
		}
	}
}