@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin font-family ($family, $size, $color, $lh, $weight) {
	font-family: $family;
	font-size: $size;
	color: $color;
	line-height: $lh;
	font-weight: $weight;
}

@mixin arrow($width, $height, $rotate, $border-width, $border-style, $border-color, $mt, $mr, $mb, $ml){
	content: "";
	width: $width;
	height: $height;
	transform: rotate($rotate);
	border-top: $border-width $border-style $border-color;
	border-left: $border-width $border-style $border-color;
	display: block;
	margin: $mt $mr $mb $ml;
}