/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS RESET END */
/* FONT FACE */
/* FONT FACE END*/
/* ========== HEADER SECTION ========== */
html {
  font-size: 62.5%;
  color: #000000;
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* ========== MAIN SECTION ========== */
.section__arrow-up:after, .section__arrow-right:after, .section__arrow-down:after, .section__arrow-left:after {
  content: "";
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  border-top: 2px solid #CCCCCC;
  border-left: 2px solid #CCCCCC;
  display: block;
  margin: -10px 0 0 -50px;
}

.section {
  text-align: center;
}

.section__title {
  font-family: "Kaushan Script", cursive;
  font-size: 2.4rem;
  color: #333333;
  line-height: 2.4rem;
  font-weight: 400;
  margin-bottom: 20px;
  padding-top: 90px;
  position: relative;
}

.section__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: #333333;
  line-height: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

.section__subtitle:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.section__description {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #999999;
  line-height: 2.4rem;
  font-weight: 400;
  margin-bottom: 80px;
  padding: 0 10%;
}

.section__arrow-up:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.section__arrow-right:after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.section__arrow-down:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.section__arrow-left:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.about {
  padding-bottom: 110px;
}

.about__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.about__item {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  color: #FFFFFF;
  line-height: 1.8rem;
  font-weight: 700;
  position: relative;
  width: 380px;
  background: linear-gradient(to bottom, #e88182 0%, #f0d98d 100%);
  transition: all 0.2s linear;
}

.about__item:hover {
  -webkit-transform: translateX(-10px) translateY(-10px);
          transform: translateX(-10px) translateY(-10px);
  box-shadow: 10px 10px 0px 0px #95e1d3;
}

.about__item:hover .about__picture {
  opacity: 0.2;
}

.about__item:hover .about__picture-description {
  opacity: 1;
}

.about__picture {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.about__picture-description {
  text-transform: uppercase;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.counter {
  background-color: #95e1d3;
  padding: 80px 0;
}

.counter .wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.counter__number, .counter__caption {
  display: block;
}

.counter__number {
  font-family: "Montserrat", sans-serif;
  font-size: 7.2rem;
  color: #FFFFFF;
  line-height: 7.2rem;
  font-weight: 700;
  padding-bottom: 20px;
}

.counter__caption {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: #FFFFFF;
  line-height: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

.work__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  padding: 20px 0 100px 0;
}

.work__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
  flex-basis: 33%;
}

.work__item-wrapper {
  -webkit-box-flex: 1;
          flex: 1;
}

.work__heading {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: #333333;
  line-height: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.work__icon {
  margin: 0 25px;
}

.work__description {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #999999;
  line-height: 2.4rem;
  font-weight: 400;
}

.work__line {
  flex-basis: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin: 50px 0;
}

.design {
  background-image: url("../images/banner-1.png");
  background-size: cover;
  position: relative;
}

.design:before {
  content: ' ';
  background-color: #FFFFFF;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.design__images {
  position: relative;
}

.design__tablet {
  max-width: 560px;
}

.design__iphone {
  max-width: 262px;
  position: absolute;
  bottom: -90px;
  left: 57%;
}

.service {
  padding-bottom: 120px;
}

.service__main {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
}

.service__photo {
  flex-basis: 50%;
  padding-right: 50px;
}

.service__list {
  flex-basis: 50%;
}

.service__item-heading {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: no-wrap;
  -webkit-box-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: #333333;
  line-height: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #e5e5e5;
  margin-top: 10px;
}

.service__item-heading:first-child {
  margin-top: 0;
}

.service__item-description {
  height: 130px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #999999;
  line-height: 2.4rem;
  font-weight: 300i;
  font-style: italic;
  margin: 20px;
  display: none;
  text-align: left;
  overflow: auto;
}

.service__item-show {
  margin-left: auto;
}

.service__icon {
  margin: 14px;
}

.testimonial {
  background-color: #f8f8f8;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #999999;
  line-height: 2.4rem;
  font-weight: 300i;
  font-style: italic;
}

.testimonial .wrapper {
  overflow: hidden;
  padding: 70px 110px;
  position: relative;
}

.testimonial__quote {
  display: -webkit-box;
  display: flex;
  text-align: left;
}

.testimonial__author {
  font-family: "Kaushan Script", cursive;
  font-size: 2.4rem;
  color: #333333;
  line-height: 2.4rem;
  font-weight: 400;
  margin-top: 20px;
}

.testimonial__author:before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin-right: 10px;
  position: relative;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.testimonial__icon {
  padding: 30px;
  border: 3px solid #95e1d3;
  margin-right: 60px;
  box-sizing: initial;
}

.testimonial-left, .testimonial-right {
  position: absolute;
  top: 50%;
}

.testimonial-left {
  left: 80px;
}

.testimonial-right {
  right: 0px;
}

.team {
  padding-bottom: 90px;
}

.team__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team__person {
  position: relative;
  width: 380px;
  background: linear-gradient(to bottom, #e88182 0%, #f0d98d 100%);
  transition: all 0.2s linear;
}

.team__person:hover {
  -webkit-transform: translateX(-10px) translateY(-10px);
          transform: translateX(-10px) translateY(-10px);
  box-shadow: 10px 10px 0px 0px #95e1d3;
}

.team__person:hover .person__photo {
  opacity: 0.2;
}

.team__person:hover .person__social-link {
  opacity: 1;
}

.person__photo {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.person__social-link {
  display: -webkit-box;
  display: flex;
  text-transform: uppercase;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.person__social-link .fa {
  width: 55px;
  height: 55px;
  font-size: 30px;
  color: #f38181;
  background-color: #fce38a;
  padding: 15px;
  border-left: 1px solid #f38181;
  transition: all 0.2s linear;
}

.person__social-link .fa-facebook {
  border-left: 0;
}

.person__social-link .fa:hover {
  color: #ffffff;
  background-color: #f38181;
}

.person__name {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: #333333;
  line-height: 1.4rem;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 10px;
}

.person__profession {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #999999;
  line-height: 2.4rem;
  font-weight: 300i;
  margin-bottom: 20px;
}

/* ========== FOOTER SECTION ========== */
/* ========== MEDIA QUERIES ========== */

/*# sourceMappingURL=style.css.map */
